<div class="fondo">
  <div class="miniCarta" style="order: 1" (click)="tipo('evento')">
    <img class="miniatura" src="/cartas/enves/evento.jpeg" height="100%">
  </div>
  <div class="miniCarta" style="order: 2" (click)="tipo('horda')">
    <img class="miniatura" src="/cartas/enves/horda.jpeg" height="100%" >
  </div>
  <div class="miniCarta" style="order: 3" (click)="tipo('rockstone')">
    <img class="miniatura" src="/cartas/enves/rockstone.jpeg" height="100%">
  </div>
  <div class="miniCarta" style="order: 4" (click)="tipo('municion')">
    <img class="miniatura" src="/cartas/enves/municion.jpeg" height="100%">
  </div>

  <div class="carta" (click)="resultado()">
    <!-- quiero añadir un efecto que gira al pulsar la imagen en un futuro  [ngStyle]="{rotacion}"-->
    <img [src]="this.urlCarta" height="100%" width="100%" style="border-radius: 20px;">
  </div>
</div>