<div class="fondo">
  <div class="miniCarta" style="order: 1" (click)="tipo('evento')">
    <img src="/cartas/enves/evento.jpeg" height="100%">
  </div>
  <div class="miniCarta" style="order: 2" (click)="tipo('horda')">
    <img src="/cartas/enves/horda.jpeg" height="100%">
  </div>
  <div class="miniCarta" style="order: 3" (click)="tipo('rockstone')">
    <img src="/cartas/enves/rockstone.jpeg" height="100%">
  </div>
  <div class="miniCarta" style="order: 4" (click)="tipo('municion')">
    <img src="/cartas/enves/municion.jpeg" height="100%">
  </div>

  <div class="carta" (click)="resultado()">
    <img [src]="this.urlCarta" height="100%">
  </div>
</div>